<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
          <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.messages.any? %>
      <h3>Messages (<%= @user.messages.count %>)</h3>
      <ol class="messages">
        <%= render @messages %>
      </ol>
	  
      <%= will_paginate @messages %>
    <% end %>
	<%= link_to "New Message" , static_pages_home_path %>
  </div>
  
</div>